body {
    background: #ffffff;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    /* These values ensure the main feed content is pushed out of the bound of the fixed top and bottom bars */
    padding-top: 150px;
    padding-bottom: 50px;
}

#splash-screen {
    text-align: center;
    background: #ffffff;
    margin-top: 150px;
}

#navbar {
    background-image: url(../images/photos/top_bar-bkg.jpg);
    background-size: cover;
    background-color: #ffffff;
    border-bottom: solid 1px #777777;
    padding: 0px;
    height: 150px;
    transition: .5s;
    animation-delay: 3s;
}

#nav-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0;
    transition: .5s;
}

#brand {
    font-family: 'Stalemate', cursive;
    margin: auto;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 1px #444;
    font-size: 80px;
    margin-top: 15px;
    transition: .5s;
    animation-delay: 3s;
}

#feed {
    padding: 20px;
    overflow: auto;
    animation-delay: 3.5s;
}

.jumbotron {
    background: #ffffff;
    border-radius: 10px;
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px #c9c9c9
}

.pattern-1 {
    background-image: url(../images/backgrounds/back_pattern.png);
}

.pattern-2 {
    background-image: url(../images/backgrounds/cream_pixels.png);
}

.pattern-3 {
    background-image: url(../images/backgrounds/pw_maze_white.png);
}

.pattern-4 {
    background-image: url(../images/backgrounds/small-crackle-bright.png);
}

.pattern-5 {
    background-image: url(../images/backgrounds/stacked_circles.png);
}

.pattern-6 {
    background-image: url(../images/backgrounds/subtle_dots.png);
}

.business-display {
    font-size: 42px;
    font-weight: 100;
    line-height: 100%;
}

.address-display {
    font-size: 21px;
    font-weight: 100;
    line-height: 100%;
}

.deal-display {
    margin-top: 30px;
    font-size: 42px;
    font-weight: 700;
    line-height: 100%;
    color: #d1583c
}

.timeframe-display {
    margin-top: 30px;
    font-size: 42px;
    font-weight: 100;
    line-height: 100%;
}

.listing-button {
    font-size: 24px;
    margin-left: 10px;
}

.fa-location-arrow {
    margin-right: 55%;
}

.listing-value {
    color: #111;
    display: inline;
    font-size: 16px;
    margin-left: 10px;
}

.modal-title {
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

#ins {
    text-align: center;
    font-size: 10px;
}

#form-submit {
    display: block;
    margin: auto;
    border: none;
    background: #ffffff;
    padding: 10px;
}

.foursquare-name {
    font-weight: bold;
}

#bottom-buttons {
    font-size: 48px;
    text-align: center;
    animation-delay: 3s;
}

.bottom-button {
    margin: 0px 30px 0px 30px;
}

#footer {
    font-size: 16px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    border-top: solid 1px #777;
    width: 100%;
    animation-delay: 3s;
}

.hide {
    display: none;
}

button {
    color: #111;
    padding: 0px;
    border: none;
    background: rgba(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
}

button:hover {
    color: #444;
}

button:focus {
    outline: none;
}

/* 
FONT BANK 

font-family: 'Stalemate', cursive;
font-family: 'Suranna', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Encode Sans Semi Condensed', sans-serif;

*/